.lista {
  margin-top: 100px;
  background-color: white;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}
.btn-cadastrar {
  margin-bottom: 20px;
  height: 45px;
}
.card {
  padding: 50px;
}
