<div *ngIf="!mostrarConteudo" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container lista card" *ngIf="mostrarConteudo">
  <h2 style="text-align: center">Produtos</h2>
  <hr />
  <button class="btn btn-success btn-cadastrar" routerLink="/form-produto">
    Cadastrar produto
  </button>
  <div class="row" *ngIf="!vazio">
    <app-card-produto
      (atualizar)="buscarProdutos()"
      class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"
      *ngFor="let produto of produtos"
      [produto]="produto"
    ></app-card-produto>
  </div>
  <h4 *ngIf="vazio" style="text-align: center">Sem conteúdo</h4>
</div>
