.nav-pills .nav-link {
  width: 100px !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  width: 100px !important;
}
.notificacoes {
  margin-top: 20px;
}
.btn-notificacao {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
.badge {
  float: right;
}
