<div *ngIf="!carregando">
  <div class="d-flex justify-content-center carregando">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="carregando" class="notificacoes container">
  <form [formGroup]="formulario" style="margin-bottom: 20px">
    <div class="form-group">
      <label for="">Mês referência:</label>&nbsp;
      <select formControlName="mesAno" (change)="selecionarMes()">
        <option
          *ngFor="let mesReferencia of mesesReferencia"
          [value]="mesReferencia.id"
        >
          {{ mesReferencia.mes }}/{{ mesReferencia.ano }}
        </option>
      </select>
    </div>
  </form>

  <button
    type="button"
    (click)="defineTipo(0)"
    class="btn btn-primary btn-notificacao"
  >
    Total entrada:
    <span class="badge bg-secondary">{{
      transacaoResumo.totalEntrada | currency: "R$"
    }}</span>
  </button>
  <br />

  <button
    type="button"
    (click)="defineTipo(1)"
    class="btn btn-danger btn-notificacao"
  >
    Total Saída:
    <span class="badge bg-secondary">{{
      transacaoResumo.totalSaida | currency: "R$"
    }}</span>
  </button>
  <br />

  <button type="button" class="btn btn-success btn-notificacao">
    Sobra:
    <span class="badge bg-secondary">{{
      transacaoResumo.sobra | currency: "R$"
    }}</span>
  </button>
  <div class="card">
    <div class="card-body">
      <app-list-entrada
        (atualizou)="atualizar()"
        [mesReferenciaId]="mesAtual.id"
        *ngIf="tipoTransacao == 0"
      ></app-list-entrada>
      <app-list-saida
        (atualizou)="atualizar()"
        [mesReferenciaId]="mesAtual.id"
        *ngIf="tipoTransacao == 1"
      ></app-list-saida>
    </div>
  </div>
</div>
