/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/dist/css/bootstrap.min.css"; */
@import "../src/assets/css/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootswatch/dist/lumen/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
/* Mandatory */
/* @import "~ng-wizard/themes/ng_wizard.min.css"; */
@import "../src/assets/css/ng-wizard/themes/ng_wizard.min.css";

/* Optional */
/* If a theme other than default is used, the css file for that theme is required. */
/* @import "~ng-wizard/themes/ng_wizard_theme_arrows.min.css"; */
@import "../src/assets/css/ng-wizard/themes/ng_wizard_theme_arrows.min.css";
@import "../src/assets/css/ng-wizard/themes/ng_wizard_theme_circles.min.css";
@import "../src/assets/css/ng-wizard/themes/ng_wizard_theme_dots.min.css";
/* @import "~ng-wizard/themes/ng_wizard_theme_circles.min.css"; */
/* @import "~ng-wizard/themes/ng_wizard_theme_dots.min.css"; */
#toast-container > div {
  opacity: 1;
}

html,
body {
  height: 100%;
}
html {
  /*background-color: #652aa4;  For browsers that do not support gradients */
}
body {
  margin: 0;
  font-family: Raleway-SemiBold, "Raleway-SemiBold", sans-serif;
}
.form-control {
  height: 55px;
  border-radius: 1rem;
}
.btn.btn-primario {
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none;
}
.btn-info {
  background-color: #682da6;
  border: none;
  border-radius: 500px;
  padding: 10px 40px;
}

.btn-info:hover {
  background-color: #9e5bd1;
  border-color: none;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: none;
}
.text-danger,
.invalid-feedback {
  font-style: italic;
  font-size: 12px;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../src/assets/fonts/static/Raleway-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../src/assets/fonts/static/Raleway-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}
